<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form method = "POST" action = "/tasks">
    <input type = "text" name = "name">
    <input type = "text" name = "quantity">
    <input type = "submit" value= "Submit">
  </form>
  <ul><!-- [{}, {}, {}] -->
    <% tasks.forEach(function(task) { %>
          <!-- task === { _id, name, quantity } -->
          <li> <%=task.name %><%= task.quantity %> </li>
      <% }) %>
  </ul>
</body>
</html>
